# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/composer.lock

# sublime text project files
marketplace.sublime-project
marketplace.sublime-workspace

# local db config
/config/db.php
config/db.php

#config/web.php
cookies.txt
config/cookies.txt
/web/uploads/
#/web/index.php
tcpdf
.gitignore
*.log